[submodule "CtrlP"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git@github.com:rusilko/vim-colors-solarized.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim.ack"]
	path = vim/bundle/vim.ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/bundle/syntax-range"]
	path = vim/bundle/syntax-range
	url = git@github.com:vim-scripts/SyntaxRange.git
[submodule "vim/bundle/fonts"]
	path = vim/bundle/fonts
	url = git@github.com:powerline/fonts.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/vim-tmux-navigator"]
	path = vim/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim/bundle/vim-test"]
	path = vim/bundle/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
